@import '../colors.scss';

div.About {
    background-image: url('../assets/ocean\ banner.png');
    background-size: cover;
    padding: 25px;
    text-align: left;
    border-top: medium solid $white;
    border-bottom: medium solid $white;
    >div {
        width: 90%;
        max-width: 1290px;
    }
}