@import '../colors.scss';

div.About {
    background-image: url('../assets/ocean\ banner.png');
    background-size: cover;
    padding: 25px;
    text-align: left;
    border-top: medium solid $white;
    border-bottom: medium solid $white;
    >div {
        padding: 25px;
        width: 90%;
        max-width: 1290px;
        margin: 0px auto;
    }
}

@media only screen and (max-width: 850px) {
    div.About {
        >div {
            padding: 0;
        }
    }
}

@media only screen and (max-width: 750px) {
    div.About {
        >div {
            >h2 {
                font-size: 1.15em;
            }
            >p {
                font-size: 0.75em;
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    div.About {
        >div {
            >h2 {
                font-size: 1em;
            }
            >p {
                font-size: 0.65em;
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    div.About {
        >div {
            >h2 {
                font-size: 0.8em;
            }
            >p {
                font-size: 0.55em;
            }
        }
    }
}