@import '../colors.scss';

div.About {
    border-bottom: medium solid $white;
    background-image: url('../assets/ocean\ banner.png');
    background-size: cover;
    border-top: medium solid $white;
    padding: 25px 0px;
    text-align: left;
    >div {
        margin: 0px auto;
        max-width: 1290px;
        width: 90%;
    }
}