@import '../colors.scss';

.Footer {
    background-color: $dark;
    border-top: solid medium $white;
    text-align: left;
    >div {
        display: grid;
        grid-template-columns: 1fr 1.25fr;
        margin: 0 auto;
        max-width: 1290px;
        padding: 10px 0;
        width: 90%;
        >div {
            font-size: 0.3em;
            >img {
                height: 35px;
            }
        }
        >div:last-child {
            line-height: 3em;
            margin: auto 0;
            text-align: right;
        }
    }
}