@import '../colors.scss';

div.Header {
    align-items: center;
    background-color: $grey;
    background-image: url('../assets/alan-watts-boat-cropped.png');
    background-size: cover;
    background-position: center center;
    border-bottom: solid medium $white;
    display: grid;
    grid-template-columns: 1fr 70%;
    height: 40vw;
    >div {
        box-sizing: border-box;
        padding: 25px;
        >p {
            font-family: 'Gelasio', serif;
            font-style: italic;
            margin-bottom: -25px;
        }
        >img {
            max-width: 750px;
            width: 100%;
        }
        >a {
            background-color: rgba($color: #000000, $alpha: 0.5);
            border: solid thin $white;
            color: $white;
            font-size: 0.75em;
            margin-right: 15px;
            padding: 10px 25px;
            text-decoration: none;
            text-transform: uppercase;
        }
        >a:hover {
            color: #aaa;
        }
    }
}

@media only screen and (max-width: 600px) {
    div.Header {
        background-image: url('../assets/mobile-boat-header.png');
        background-position: right;
        display: block;
        height: 80vw;
        >div {
            >p {
                margin: -30px auto 5px auto;
            }
            >img {
                max-width: 280px;
                width: 100%;
            }
            >a {
                display: block;
                font-size: 0.25em;
                margin: 0 0 15px 0;
                padding: 10px 9px;
            }
        }
    }
}