@import '../colors.scss';

.Licensing {
    padding: 25px;
    width: 90%;
    max-width: 1290px;
    margin: 0px auto;
    text-align: left;
}

@media only screen and (max-width: 850px) {
    .Licensing {
        padding: 0;
    }
}

@media only screen and (max-width: 750px) {
    .Licensing {
        >h2 {
            font-size: 1.25em;
        }
        >h3 {
            font-size: 1em;
        }
        >p {
            font-size: 0.9em;
        }
        >ul {
            font-size: 0.8em;
        }
    }
}