@import '../colors.scss';

.Licensing {
    width: 90%;
    max-width: 1290px;
    margin: 0px auto;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .Licensing {
        >ul {
            padding: 15px;
            >li {
                margin-bottom: 10px;
            }
        }
    }

}