@import '../colors.scss';

.Navbar {
    align-items: center;
    background-color: $grey;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 50px;
    > div {
        img {
            float: left;
            height: 35px;
            margin-left: 25px;
        }
    }
}