@import '../colors.scss';

div.Youtube {
    height: 470px;
    margin: 0px auto;
    max-width: 1290px;
    padding: 25px;
    width: 90%;
    >h2 {
        margin-bottom: 15px;
        text-align: left;
    }
    >iframe {
        border: none;
        display: block;
        float: left;
        height: 367px;
        margin: auto 15px 15px auto;
        width: 630px;
    }
    >div>div.thumb {
        background-color: $white;
        background-position: center center;
        background-size: cover;
        cursor: pointer;
        float: left;
        height: 112px;
        margin: auto 15px 15px auto;
        width: 200px;
    }
    >div>div.thumb:hover {
        opacity: 0.5;
    }
}

@media only screen and (max-width: 1450px) {
    div.Youtube {
        >div>div.thumb {
            height: 78px;
            width: 140px;
        }
    }
}


@media only screen and (max-width: 1250px) {
    div.Youtube {
        height: 370px;
        >iframe {
            height: 265px;
            width: 510px;
        }
        >div>div.thumb {
            height: 78px;
            width: 140px;
        }
    }
}

@media only screen and (max-width: 1100px) {
    div.Youtube {
        height: 320px;
        >iframe {
            height: 225px;
            width: 400px;
        }
        >div>div.thumb {
            height: 65px;
            width: 115px;
        }
    }
}

@media only screen and (max-width: 900px) {
    div.Youtube {
        height: 500px;
        >div {
            clear: both;
            display: block;
        }
    }
}

@media only screen and (max-width: 725px) {
    div.Youtube {
        height: 575px;
        >iframe {
            height: 225px;
            margin-bottom: 25px;
            width: 400px;
        }
    }
}

@media only screen and (max-width: 500px) {
    div.Youtube {
        height: 515px;
        padding: 0px;
        >iframe {
            height: 200px;
            width: 100%;
        }
        >div {
            text-align: center;
            >div.thumb {
                height: 55px;
                width: 30%;
            }
            >div.thumb:nth-child(3n) {
                margin-right: 0;
            }
        }

    }
}