@import '../colors.scss';

div.Youtube {
    padding: 25px;
    width: 90%;
    max-width: 1290px;
    height: 450px;
    margin: 0px auto;

    >h2 {
        margin-bottom: 15px;
        text-align: left;
    }

    >iframe {
        border: none;
        display: block;
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
        width: 630px;
        height: 367px;
    }

    >div>div.thumb {
        background-color: $white;
        height: 112px;
        width: 200px;
        margin-right: 15px;
        margin-bottom: 15px;
        float: left;
        background-size: cover;
        background-position: center center;
        cursor: pointer;
    }

    >div>div.thumb:hover {
        opacity: 0.5;
    }
}

//iPad Pro
@media only screen and (max-width: 1433px) {
    div.Youtube {
        >iframe {
            height: 366px;
        }
        >div>div.thumb {
            height: 61px;
            width: 110px;
        }

    }
}

// iPad
@media only screen and (max-width: 768px) {
    div.Youtube {
        >iframe {
            width: 660px;
            height: 350px;
            margin-left: 15px;
        } 
        >div>div.thumb {
            height: 65px;
            width: 116px;
            margin: 5px 11px;
        }
        margin-bottom: 120px;
    }
}

@media only screen and (max-width: 414px) {
    div.Youtube {
        padding: 0;
        margin-bottom: 20px;
        >iframe {
            width: 340px;
            height: 180px;
        } 
        >div>div.thumb {
            height: 70px;
            width: 164px;
        }
        margin-bottom: 200px;
    }
}

@media only screen and (max-width: 375px) {
    div.Youtube {
        padding: 0;
        margin-bottom: 20px;
        >iframe {
            width: 305px;
            height: 170px;
        } 
        >div>div.thumb {
            height: 70px;
            width: 145px;
        }
        margin-bottom: 190px;
    }
}